/MNE_Tutorials
/old_analysis
/output_10.07.ini
/output_11.07.ini
/output_16.07.ini
/output_analysing41subjs.ini
/output_analysing6subjs_bad_VEOG.ini
/PS_blinkERPs_completecode.py
/PS_BlinkERPs_OneSubj_Full_Notebook.ipynb
/Thumbs.db
/__pycache__